<!DOCTYPE html>
<html lang="pl"

      xmlns:th="http://www.w3.org/1999/xhtml">

<!--      th:replace="~{public/fragments/layout :: layout (~{::body},'home')}"-->
<!--xmlns:th="http://www.thymeleaf.org" >-->
<head>
    <meta charset="UTF-8">
    <title>Log in</title>


</head>
<body>
<div class="radial-gradient-bg">


    <div th:replace="~{public/fragments/layout :: layout (template, menu)}"></div>

    <div class="container">
        <div class="row">


            <div th:if="${message}" class="alert alert-warning w-25 justify-content-center"  role="alert">
                <span th:text="${message}"></span>
            </div>

            <form th:action="@{/public/forgot-password}" method="post" th:object="${forgotPasswordForm}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" th:name="${_csrf.parameterName}">
                <label>Nazwa użytkownika:</label>
                <input th:field="*{username}" class="form-control"/>

                <label>Email:</label>
                <input th:field="*{email}" type="email" class="form-control"/>

                <button type="submit" class="btn btn-primary mt-3">Wyślij</button>
            </form>

    </div>
</div>
</div>




</body>
</html>