<!DOCTYPE html>
<html lang="pl"

      xmlns:th="http://www.w3.org/1999/xhtml">

<!--      th:replace="~{public/fragments/layout :: layout (~{::body},'home')}"-->
<!--xmlns:th="http://www.thymeleaf.org" >-->
<head>
    <meta charset="UTF-8">
    <title>Log in</title>


</head>
<body>
<div class="radial-gradient-bg">


    <div th:replace="~{public/fragments/layout :: layout (template, menu)}"></div>

    <div class="container">
        <div class="row">

        <div th:if="${success}" class="alert alert-success w-25 justify-content-center"  role="alert">
            <span th:text="${success}"></span>
        </div>
        <form th:object="${logInForm}" method="post" th:action="@{/public/logIn}"class="needs-validation container text-left ">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" th:name="${_csrf.parameterName}">
            <div th:if="${errorMessage}">
                <p style="color: red;" th:text="${errorMessage}"></p>
            </div>
            <label class="form-label" > Username: </label> <input th:field="*{username}" class="form-control  w-25" >
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br>
            <label class="form-label" > Password: </label> <input th:field="*{password}" type="password" class="form-control  w-25" >
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br>

            <button  class="btn btn-primary m-1"  type="submit">Zaloguj</button>
        </form>
    </div>
</div>
</div>
</body>
</html>