<!DOCTYPE html>
<html lang="pl"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body class="light">
<div th:replace="~{public/navbar}"/>


<div class="container">
    <div class="row">
        <form th:object="${users}" th:action="@{/admin/LK/users/refreshUsers}" method="post">

            <button type="submit"  class="btn btn-primary m-1"  >Odśwież Redis users</button>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>


            <br>

        </form>
    </div>
    <div class="row">

<!--
<form th:object="${users}"  id="userForm" th:action="@{/admin/LK/users/deleteUser}"  method="post">

-->

<form th:object="${users}" th:action="@{/admin/LK/users/addUser}" method="post">


    <input type ="text" name="chosenUser" />
    <button type="submit"  class="btn btn-primary m-1"  >Dodaj</button>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>


    <br>

</form>
<form th:object="${users}" th:action="@{/admin/LK/users/deleteUser}" method="post">

    <br>
    <input type ="text" name="chosenUser" />
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <button type="submit"  class="btn btn-primary m-1"  >Usuń</button>

<!--
    <input type ="text" name="chosenUser" />



    <button type="submit" class="btn btn-primary" formaction="/admin/LK/users/addUser">Dodaj</button>
-->

    <br>




 <!--   <br>
    <button type="submit" class="btn btn-primary"  >Usuń</button>

    <input type ="text" name="chosenUser" />
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>


    <button type="submit" class="btn btn-primary"  onclick="submitForm('@{/admin/LK/users/addUser}')" >Dodaj</button>
    <script>
function submitForm(action) {
    let form = document.getElementById('userForm');
    form.th:action = action;
    form.submit();
}
</script>
    <br>

-->

    <br>
    <div class="table-responsive" th:if="${not #lists.isEmpty(users)}">
        <table class="table table-hover">
            <thead class="thead-inverse">
           <th ></th>
           <th >Username:</th>
            <th >UserId:</th>
            <th >MZ username:</th>
           <th >MZ Id:</th>
           <th >Team:</th>
           <th >Role:</th>
           <th >League participation:</th>
            </thead>

            <tbody>


            <tr  th:each="user : ${users}">

                    <td>
                        <input type="checkbox" name="chosenUsers" th:value="${user.getUsername()}"/>
                    </td>

                <td>
                    <label class="form-label m-1" th:text="${user.username}"></label>
                </td>
                <td>
                    <label class="form-label m-1" th:text="${user.userId}"></label>
                </td>
                <td>
                    <label class="form-label m-1" th:text="${user.MZUsername}"></label>
                </td>
                    <td>
                        <label class="form-label m-1"  th:text="${user.MZuserId}"></label>
                    </td>
                    <td>
                        <label class="form-label m-1" th:text="${user.getTeamName()}"></label>
                    </td>
                <td>
                    <label class="form-label m-1" th:text="${user.role}"></label>
                </td>
                <td>
                    <label class="form-label m-1" th:text="${user.leagueParticipation}"></label>
                </td>
</tr>
            </tbody>



        </table>


    </div>
</form>

    </div>

</div>





</body>
</html>

