<!DOCTYPE html  >
<html lang="en"

      th:replace="~{fragments/layout :: layout (~{::body},'home')}" xmlns:th="http://www.w3.org/1999/xhtml"

    >
<head  >
    <meta charset="UTF-8">
    <title >Title</title>


</head>
<body   >

<div style="float: left;">
    <label  > Opcje terminarza</label>
    <div id="terminarzOptions" class="display" >


        <div >
            <a class="btn" th:href=@{'/addSchedule'}>   Dodaj terminarz</a>
        </div>
        <div>
            <div >
                <a class="btn" th:href=@{'/deleteSchedule'} >   Usuń terminarz</a>
            </div>
           </div>

    </div>
</div>



<div style="float: right;">
    <form th:action="@{/schedule/changeSchedule}" method="get" >
        <select  th:name="chosenSchedule"  onchange="this.form.submit()" >
            <option value="" selected>--Wybierz terminarz--</option>
            <option th:each="schedule : ${schedules}" th:value="${schedule.getName()}" th:text="${schedule.getName()}" />
            <!--   th:selected="${schedule==75}"></option>-->
        </select>
    </form>
    <div>
        <label>Wybrany terminarz: </label>
        <label th:text="${chosenSchedule}"></label>
    </div>

</div>





    <div  >
        <table class="table table-striped" >
            <thead>
            <tr>

                <th style="width: 150px">Runda </th>
                <th style="width: 150px">Data </th>








            </tr>



            <tr>
            </thead>
            <tbody>
            <tr th:each="match : ${round}">
                <td  id="round" th:text="${match.getNr()}" style="width: 150px">Joe</td>
                <td  id="data" th:text="${match.getDate()}"style="width: 150px">1</td>
                <td>
                    <form th:action="@{/showRound}" method="post">

               <select    class="form-control" id="dropDownList"  th:name="roundNumber" onchange="this.form.submit()" >
                        <option selected>Zmień rundę</option>
                        <option  th:each="nr : ${rounds}" th:value="${nr.getNr()}" th:text="Runda+' '+${nr.getNr()}+' '+data+': '+${nr.getDate()}  " ></option>

                    </select>

<input th:name="chosenSchedule" th:value="${chosenSchedule}" hidden>
                    </form>
                </td>
                <td>
                    <button id="bob"  onclick="myFunction()">Skopiuj</button>
                </td>

            </tr>




            </tbody>

        </table>
    </div>
    <div >
        <table class="table table-striped" id="table" border="1" >
            <thead align = "center">
            <tr id="naglowek">


                <th width ="15px" class="text-center">Drużyna 1 </th>
                <th style="width: 15px" class="text-center">User 1</th>
                <th style="width: 50px"  class="text-center"> - </th>
                <th style="width: 150px" class="text-center">Drużyna 2 </th>
                <th style="width: 150px" class="text-center">User 2</th>
            <tr>
            </thead>
            <tbody id="table-zawartosc" align="center">


            <tr th:each="match : ${matches}">
          <!--      <td th:text="${mecz .getUser().getTeamlist().get(0).getTeamName()}" style="width: 150px">userTeam</td>-->
                <td th:text="${match.getUserData()!=null}? ${match.getUserData().getTeamlist().get(0).getTeamName()}:'NA'" style="width: 150px">userTeam</td>
        <!--        <td th:text="${mecz .getUser().getUsername()}" style="width: 150px">user</td>-->
                <td th:text="${match.getUserData()!=null}? ${match .getUserData().getUsername()}:'NA'" style="width: 150px">user</td>
                <td style="width: 50px" > - </td>
             <!--   <td th:text="${mecz.getopponentUser().getUsername()}"style="width: 150px">1</td>-->
                <td th:text="${match.getOpponentUserData()!=null}? ${match.getOpponentUserData().getUsername()}:'NA'" style="width: 150px">user</td>
            <!--    <td th:text="${mecz .getopponentUser().getTeamlist().get(0).getTeamName()}" style="width: 150px" >opponentUserTeam</td>-->
                <td th:text="${match.getOpponentUserData()!=null}? ${match .getOpponentUserData().getTeamlist().get(0).getTeamName()}:'NA'" style="width: 150px">userTeam</td>

            </tr>
            </tbody>

        </table>
    </div>













<script>
  function myFunction() {
var table = document.getElementById("table-zawartosc");
var data = document.getElementById("data");
var round =  document.getElementById("round");
var result = "";
var tempstring = "";
var tempwyniki = "";

console.log(round);
console.log(data);
tempstring+=" Runda: "+round.textContent +"   "+data.textContent+"\r\n";

let pierwszy=true;
for (let i in table.rows) {
  let row = table.rows[i];



  for (let j in row.cells) {
  let col = row.cells[j];

console.log( j+ col.textContent);

 switch (j) {
           //druzyna
           case "0": {
          wyniki="";
user2="";
             tempstring += row.cells[j].textContent;
             break;
           }
                        //user
           case "1": {
             tempstring += " (" + row.cells[j].textContent + ") - ";
             break;
           }

           case "3": {
            user2+=  row.cells[j].textContent ;
             //tempstring += row.cells[j].textContent + "   ";
             break;
           }
           case "4": {
           tempstring+=row.cells[j].textContent +" ("+user2+ ")";
             //tempstring += row.cells[j].textContent + ":";
             break;
           }

         }


  }
  tempstring+="\r\n";
}
console.log(  tempstring);
 navigator.clipboard.writeText(tempstring);
 alert("Copied the text: " + tempstring);

}
</script>

</body>


</html>