<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'home')}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>


<div style="float:left">
    <button id="bob"  onclick="myFunction()">Skopiuj</button>
</div>




<div style="float: right;">
    <form th:action="@{/table}" method="get" >
        <select  th:name="chosenSchedule"  onchange="this.form.submit()" >
            <option value="" selected>--Wybierz terminarz--</option>
            <option th:each="schedule : ${schedules}" th:value="${schedule.getName()}" th:text="${schedule.getName()}" />

        </select>
    </form>
    <div>
        <label>Wybrany terminarz: </label>
        <label th:text="${chosenSchedule}"></label>
    </div>

</div>


<table class="table table-striped" id="table" border="1" >
    <thead align="center">
    <tr id="naglowek" >

        <th style="width: 200px" class="text-center">Miejsce</th>
        <th style="width: 200px" class="text-center">Drużyna </th>
        <th style="width: 150px" class="text-center">Gracz</th>
        <th style="width: 15px"  class="text-center">Punkty</th>
        <th style="width: 10px"  class="text-center"> Różnica </th>
        <th style="width: 5px"  class="text-center"> Strzelone </th>
        <th style="width: 15px"  class="text-center"> Stracone </th>


    <tr>
    </thead>
    <tbody id="table-zawartosc"align="center">


    <tr th:each="item : ${table}" >
        <td  class="counterCell" th:text="${table.indexOf(item)+1}"></td>
        <td th:text="${item. getGracz().getTeamlist().get(0).getTeamName()}" >Drużyna</td>
        <td th:text="${item. getGracz().getUsername()}" >user</td>
        <td th:text="${item.getSumaPunktow()} ">Punkty</td>
        <td th:text="${item. getRoznica()}" >Różnica</td>
        <td th:text="${item. getGoleStrzelone()}" >Strzelone</td>
        <td th:text="${item. getGoleStracone()}" >Stracone</td>


    </tr>
    </tbody>

</table>


<script>
/*
https://jsfiddle.net/
*/

 function myFunction() {
        var result = "";
     var tempstring = "";
     var tempwyniki = "";

     var table = document.getElementById("table-zawartosc");





tempstring+="Miejsce Punkty Różnica Strzelone Stracone Drużyna \r\n"


 //console.log(data+ data.textContent);



 //console.log(data+ data.textContent);

 var user="";


    // let pierwszy = true;
     for (let i in table.rows) {
       let row = table.rows[i];



       for (let j in row.cells) {
         let col = row.cells[j];

      console.log(j + "_" + row.cells[j].textContent);




//console.log(j );

         switch (j) {
           //miejsce
           case "0": {
           i=parseInt(i)+1;
    if(i<10)  tempstring += i+"         ";
    else   tempstring += i+"        ";

             break;
           }
                        //team
           case "1": {
           user +=  row.cells[j].textContent +"";
             break;
           }
           //user
           case "2": {
           user+=" ("+row.cells[j].textContent + ")" + "\r\n"
           //  tempstring += row.cells[j].textContent + ":";
             break;
           }
           //punkty
           case "3": {
             if(row.cells[j].textContent>99)
           {
            tempstring+= row.cells[j].textContent + "     ";
           }
           else if(row.cells[j].textContent>9)
           {
            tempstring+= row.cells[j].textContent + "      ";
           }

           else
           {
             tempstring+= row.cells[j].textContent + "       ";
           }

             //tempstring += row.cells[j].textContent + "   ";
             break;
           }
           //roznica
           case "4": {
              if(row.cells[j].textContent>99)
           {
            tempstring+= row.cells[j].textContent + "     ";
           }
           else if(row.cells[j].textContent>9)
           {
            tempstring+= row.cells[j].textContent + "      ";
           }
            else if(row.cells[j].textContent<-99)
           {
           tempstring+=row.cells[j].textContent +"     ";
           }
           else if(row.cells[j].textContent<-9)
           {
            tempstring+= row.cells[j].textContent + "     ";
           }
            else if(row.cells[j].textContent<0)
           {
            tempstring+= row.cells[j].textContent + "      ";
           }

           else
           {
             tempstring+= row.cells[j].textContent + "       ";
           }

             //tempstring += row.cells[j].textContent + "   ";
             break;
           }
           //strzlone
           case "5": {
              if(row.cells[j].textContent>99)
           {
            tempstring+= row.cells[j].textContent + "     ";
           }
           else if(row.cells[j].textContent>9)
           {
            tempstring+= row.cells[j].textContent + "      ";
           }
            else if(row.cells[j].textContent<-99)
           {
           tempstring+=row.cells[j].textContent +"     ";
           }
           else if(row.cells[j].textContent<-9)
           {
            tempstring+= row.cells[j].textContent + "     ";
           }
            else if(row.cells[j].textContent<0)
           {
            tempstring+= row.cells[j].textContent + "      ";
           }

           else
           {
             tempstring+= row.cells[j].textContent + "       ";
           }

             //tempstring += row.cells[j].textContent + "   ";
             break;
           }
           //stracone
           case "6": {

            if(row.cells[j].textContent>99)
           {
            tempstring+= row.cells[j].textContent + "       ";
           }
          else if(row.cells[j].textContent>9)
           {
            tempstring+= row.cells[j].textContent + "        ";
           }
           else if(row.cells[j].textContent<-99)
           {
           tempstring+=row.cells[j].textContent +"     ";
           }
            else if(row.cells[j].textContent<-9)
           {
           tempstring+=row.cells[j].textContent +"       ";
           }
             else if(row.cells[j].textContent<0)
           {
           tempstring+=row.cells[j].textContent +"         ";
           }
           else
           {
               tempstring+=row.cells[j].textContent +"         ";
           }

             //tempstring += row.cells[j].textContent + ":";
             tempstring+=user;
             user="";
             break;
           }

         }


       }


     }
     tempstring += "\r\n";

   console.log(tempstring);
   navigator.clipboard.writeText(tempstring);
   alert("Copied the text: " + tempstring);


}
</script>
</body>
</html>

