<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'home')}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>







</head>
<body class="light">
<form th:object="${users}"  method="post">
    <br>
    <button type="submit" class="btn btn-primary" formaction="/deleteUser">Usuń</button>


    <input type ="text" name="chosenUser" />



    <button type="submit" class="btn btn-primary" formaction="/addUser">Dodaj</button>
    <br>
    <br/>




   <br>
    <div class="table-responsive" th:if="${not #lists.isEmpty(users)}">
        <table class="table table-hover">
            <thead class="thead-inverse">
           <th ></th>
            <th >Gracz:</th>
            <th >Drużyna:</th>

            </thead>
    <!--        <tr th:each="item: ${users}"  >


            </tr>
-->
         <!--   <th:block th:each="item : ${users}">-->
            <tbody>


            <tr  th:each="user : ${users}">

                    <td>
                        <input type="checkbox" name="chosenUsers" th:value="${user.getUsername()}"/>
                    </td>

                    <td>
                        <label th:text="${user.getUsername()}"></label>
                    </td>
                    <td>
                        <label th:text="${user.getTeamName()}"></label>
                    </td>

</tr>
            </tbody>



     <!--       </th:block>-->


        </table>


    </div>
</form>







</body>
</html>

