<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'home')}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}"><span></span></a>

            </div>
            <div class="navbar-collapse collapse" id="navbar1">
                <ul class="nav navbar-nav navbar-left">

                    <li th:fragment="menuItem (path,active,title,glyph,text)" class="active" th:class="${active==menu ? 'active' : ''}">
                        <a th:href="@{__${path}__}" th:title="${title}">
                            <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            <span th:text="${text}">Template</span>
                        </a>
                    </li>



                    <li th:replace="::menuItem ('/tm','tm','tm page','','tm')">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <span>Find owners</span>
                    </li>
                    <li th:replace="::menuItem ('/lk','lk','lk','','tm wyniki')">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <span>Find owners1</span>
                    </li>
                    <li th:replace="::menuItem ('/tabela','tabela','tabela','','tabela')">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        <span>Veterinarians</span>
                    </li>
                    <li

                            th:replace="::menuItem ('/terminarz','terminarz','terminarz','','terminarz') " >
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        <span>Veterinarians</span>
                    </li>
                    <li th:replace="::menuItem ('/wyniki','wyniki','wyniki','','Wyniki')">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        <span>Veterinarians</span>
                    </li>
                    <li th:replace="::menuItem ('/oups','error','search','search','UPSG1')">
                        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                        <span>Error</span>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

<div style="float: left;">
    <table class="table table-striped" align="center" >
        <thead>
        <tr>

            <th style="width: 150px">runda </th>
            <th style="width: 150px">data </th>

            <!--
            <form  th:action ="@{/pokazRunde}" >
              <input type="text" th:object="${numerRundy}">





                    <input type="submit" >

            </form>

            -->






        </tr>



        <tr>
        </thead>
        <tbody align="center">
        <tr th:each="mecz : ${runda}">
            <td  id="runda" th:text="${mecz.getNr()}" style="width: 150px">Joe</td>
            <td  id="data" th:text="${mecz.getData()}"style="width: 150px">1</td>
            <td>
                <form th:action="@{/pokazRunde1}" method="post">
                    <!--  <input type="text" th:name="participant"/>
                      <input type="submit"/>
            --><select    class="form-control" id="dropDownList"  th:name="participant" onchange="this.form.submit()" >
                    <option selected>zmien runde</option>
                    <option  th:each="nr : ${nrRundy}" th:value="${nr.getNr()}" th:text="runda+' '+${nr.getNr()}+' '+data+': '+${nr.getData()}  " ></option>

                </select>


                </form>
            </td>
            <td>
                <button id="bob"  onclick="myFunction()">Skopiuj</button>

            </td>
<td>
     <form  th:action="@{/aktualizuj}" method="post">
        <button id="sam"  onclick="myFunction1()">Aktualizuj wyniki</button>
    </form>
</td>
        </tr>

        </tbody>

    </table>
</div>
<div ><!--style="float: right;">-->
    <table class="table table-striped" id="tabela" border="1">
        <thead align="center" >
        <tr id="naglowek" >


            <th style="width: 200px" class="text-center">Drużyna 1 </th>
            <th style="width: 150px" class="text-center">user 1</th>
            <th style="width: 15px"  class="text-right">  </th>
            <th style="width: 5px"  class="text-center"> m1 </th>
            <th style="width: 15px"  class="text-left">  </th>
            <th style="width: 10px"  class="text-center">  </th>
            <th style="width: 15px"  class="text-right">  </th>
            <th style="width: 5px"  class="text-center"> m2 </th>
            <th style="width: 15px"  class="text-left">  </th>
            <th style="width: 200px" class="text-center">Drużyna 2 </th>
            <th style="width: 150px" class="text-center">user 2</th>
        <tr>
        </thead>
        <tbody id="tabela-zawartosc" align="center" >


        <tr th:each="mecz : ${mecze}" >
            <td th:text="${mecz .getUser().getTeamlist().get(0).getTeamName()}" >userTeam</td>
            <td th:text="${mecz .getUser().getUsername()}" >user</td>

            <td th:text="${mecz.getUserMatchResult1()}" align="right" >wynik1</td>
            <td  align="center">:</td>
            <td th:text="${mecz.getOpponentMatchResult1()} "align="left">wynik1</td>

            <td  > </td>
            <td th:text="${mecz .getUserMatchResult2()}" align="right">wynik2</td>
            <td  >:</td>
            <td th:text="${mecz .getOpponentMatchResult2()}" align="left">wynik2</td>

            <td th:text="${mecz.getopponentUser().getUsername()}">1</td>
            <td th:text="${mecz .getopponentUser().getTeamlist().get(0).getTeamName()}"  >opponentUserTeam</td>

        </tr>
        </tbody>

    </table>
</div>

<script>

function  myFunction1()
{

//  var btn= document.getElementById("form1");
 // var act=btn.getAttribute="action";
// btn.setAttribute("th:action","@{/aktualizuj}") // Try edit me
 // btn.setAttribute("method","post") // Try edit me
 // btn.setAttributeNode("action","action")
//const message1 = btn.getAttribute('action') // Try edit me
 //console.log("hhhhhhhhhhhhhhhhhhhhhhhhhhhh")
// console.log(btn.getAttribute('th:action'))
//var btn1= document.getElementById("sam");
//btn.click();
}


</script>
<script>
      function myFunction() {
        var result = "";
     var tempstring = "";
     var tempwyniki = "";

     var tabela = document.getElementById("tabela-zawartosc");
var data = document.getElementById("data");
var runda =  document.getElementById("runda");
tempstring+=" Runda: "+runda.textContent +"   "+data.textContent+"\r\n";


 //console.log(data+ data.textContent);




    // let pierwszy = true;
     for (let i in tabela.rows) {
       let row = tabela.rows[i];



       for (let j in row.cells) {
         let col = row.cells[j];

      console.log(j + "->" + row.cells[j].textContent);

 var wyniki;
 var user2;
// console.log(j );
         switch (j) {
           //druzyna
           case "0": {
          wyniki="";
 user2="";
             tempstring += row.cells[j].textContent;
             break;
           }
                        //user
           case "1": {
             tempstring += " (" + row.cells[j].textContent + ") - ";
             break;
           }
           case "2": {
           wyniki+=row.cells[j].textContent + ":"
           //  tempstring += row.cells[j].textContent + ":";
             break;
           }
           case "4": {
            wyniki+= row.cells[j].textContent + "   ";
             //tempstring += row.cells[j].textContent + "   ";
             break;
           }
           case "6": {
           wyniki+=row.cells[j].textContent + ":"
             //tempstring += row.cells[j].textContent + ":";
             break;
           }
           case "8": {
           wyniki+=row.cells[j].textContent + " " + "\r\n";
           //  tempstring += row.cells[j].textContent + " " + "\r\n";
             break;
           }
             //user
           case "9": {
           user2+=" (" + row.cells[j].textContent  + ") ";
        //     tempstring +=" (" + row.cells[j].textContent  + ") ";
             break;
           }
             //druzyna
           case "10": {

             tempstring +=  row.cells[j].textContent+user2+wyniki;
                        wyniki="";
 user2="";
             break;
           }
         }


       }


     }
     tempstring += "\r\n";

   console.log(tempstring);
   navigator.clipboard.writeText(tempstring);
   alert("Copied the text: " + tempstring);


}
</script>
</body>
</html>